.output{ clear: both; padding-top: 1em; max-height: 100px; overflow: scroll}

.panel{ border: 1px solid #ccc; box-sizing: border-box; width: 24%; float: left; margin: 0 1% 0 0; padding: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 20px; color: #555;}
.panel h1{ background-color: #ccc; color: #fff; margin: 0; padding: 0.25em 0.5em;}
.panel h2{ display: block; float:left; margin: 0; padding: 0;}
.panel a{ text-decoration: none; border-bottom: 1px solid blue;}
.panel .count{ float: right}

.account{padding: 1em;}
.account:nth-child(2n){background-color: aliceblue; }
.sparkline{ border: 1px solid #ccc; clear:both; height: 50px; width: 100%; }

.panel.instagram h1 {background-color: #517fa4 }
.panel.twitter h1   {background-color: #00aced }
.panel.wordpress h1 {background-color: #0085be }
.panel.pinterest h1 {background-color: #C92228 }

.panel.wordpress .thumbnail_image{ border: 1px solid #ccc; clear:both; height: 100px; width: 100%; overflow: hidden; background-size: cover; background-position: center }
.panel.wordpress .account:nth-child(n+2) .thumbnail_image{ display: none}
time{ display: block; clear: both;}