<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel='stylesheet' href='/assets/style.css' type='text/css' media='all' />
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script>
            var sparkline_data = {},
                host = '{{ host }}' ;
            google.load("visualization", "1", { packages: ["corechart"] });
        </script>
    </head>
    
    <body>

        {% if insta_spark %}
        <div class="panel instagram">
            <h1>Instagram</h1>
            {% for spark in insta_spark %}

                <div class="account" id="instagram_{{ spark.data[0]['user_account'] }}">
                    <h2><a href="http://instagram.com/{{ spark.data[0]['user_account'] }}">{{ spark.name }}</a></h2>
                    <span class="count">{{ spark.data[0]['followers'] }}</span>

                    <div class="sparkline" id="spark_instagram_{{ spark.data[0]['user_account'] }}"></div>
                    <script>
                        sparkline_data.spark_instagram_{{ spark.data[0]['user_account'] }} = google.visualization.arrayToDataTable([
                            ['DateTime', '{{ spark.name }}'],
                            {% for data in spark['data'] %}[ new Date({{ data['datetime'] }}*1000), {{ data['followers'] }}],
                            {% endfor %}
                        ]);
                    </script>

                </div>

            {% endfor %}

            <div class="account">
                <p>Last updated: <span id="last_updated"></span></p>
            </div>
        </div>
        {% endif %}

        {% if twitter_spark %}
        <div class="panel twitter">
            <h1>Twitter</h1>
            {% for spark in twitter_spark %}

                <div class="account" id="twitter_{{ spark.data[0]['user_account'] }}">
                    <h2><a href="http://twitter.com/{{ spark.data[0]['user_account'] }}">{{ spark.name }}</a></h2>
                    <span class="count">{{ spark.data[0]['followers'] }}</span>

                    <div class="sparkline" id="spark_twitter_{{ spark.data[0]['user_account'] }}"></div>

                    <script>
                        sparkline_data.spark_twitter_{{ spark.data[0]['user_account'] }} = google.visualization.arrayToDataTable([
                            ['DateTime', '{{ spark.name }}'],
                            {% for data in spark['data'] %}[ new Date({{ data['datetime'] }} * 1000), {{ data['followers'] }}],
                            {% endfor %}
                        ]);
                    </script>
                </div>
            {% endfor %}

            <div class="account">
                <p>Last updated: <span id="last_updated"></span></p>
            </div>
        </div>
        {% endif %}

        {% if facebook_spark %}
        <div class="panel facebook">
            <h1>Facebook</h1>
            {% for spark in facebook_spark %}

                <div class="account" id="facebook_{{ spark.data[0]['user_account'] }}">
                    <h2><a href="http://facebook.com/{{ spark.data[0]['user_account'] }}">{{ spark.name }}</a></h2>
                    <span class="count">{{ spark.data[0]['followers'] }}</span>

                    <div class="sparkline" id="spark_facebook_{{ spark.data[0]['user_account'] }}"></div>

                    <script>
                        sparkline_data.spark_facebook_{{ spark.data[0]['user_account'] }} = google.visualization.arrayToDataTable([
                            ['DateTime', '{{ spark.name }}'],
                            {% for data in spark['data'] %}[ new Date({{ data['datetime'] }} * 1000), {{ data['followers'] }}],
                            {% endfor %}
                        ]);
                    </script>
                </div>
            {% endfor %}

            <div class="account">
                <p>Last updated: <span id="last_updated"></span></p>
            </div>
        </div>
        {% endif %}

        {% if pinterest_spark %}
        <div class="panel pinterest">
            <h1>Pinterest</h1>
            {% for spark in pinterest_spark %}

                <div class="account" id="pinterest_{{ spark.data[0]['user_account'] }}">
                    <h2><a href="http://pinterest.com/{{ spark.data[0]['user_account'] }}">{{ spark.name }}</a></h2>
                    <span class="count">{{ spark.data[0]['followers'] }}</span>

                    <div class="sparkline" id="spark_pinterest_{{ spark.data[0]['user_account'] }}"></div>

                    <script>
                        sparkline_data.spark_pinterest_{{ spark.data[0]['user_account'] }} = google.visualization.arrayToDataTable([
                            ['DateTime', '{{ spark.name }}'],
                            {% for data in spark['data'] %}[ new Date({{ data['datetime'] }} * 1000), {{ data['followers'] }}],
                            {% endfor %}
                        ]);
                    </script>
                </div>
            {% endfor %}

            <div class="account">
                <p>Last updated: <span id="last_updated"></span></p>
            </div>
        </div>
        {% endif %}

        {% if youtube_spark %}
        <div class="panel youtube">
            <h1>YouTube</h1>
            {% for spark in youtube_spark %}

                <div class="account" id="youtube_{{ spark.data[0]['user_account'] }}">
                    <h2><a href="http://youtube.com/{{ spark.data[0]['user_account'] }}">{{ spark.name }}</a></h2>
                    <span class="count">{{ spark.data[0]['followers'] }}</span>

                    <div class="sparkline" id="spark_youtube_{{ spark.data[0]['user_account'] }}"></div>

                    <script>
                        sparkline_data.spark_youtube_{{ spark.data[0]['user_account'] }} = google.visualization.arrayToDataTable([
                            ['DateTime', '{{ spark.name }}'],
                            {% for data in spark['data'] %}[ new Date({{ data['datetime'] }} * 1000), {{ data['followers'] }}],
                            {% endfor %}
                        ]);
                    </script>
                </div>
            {% endfor %}

            <div class="account">
                <p>Last updated: <span id="last_updated"></span></p>
            </div>
        </div>
        {% endif %}


        {% if linkedin_spark %}
        <div class="panel linkedin">
            <h1>LinkedIn</h1>

            <div class="account">
                <p>Last updated: <span id="last_updated"></span></p>
            </div>
        </div>
        {% endif %}

        <div class="panel wordpress">
            <h1>V&A Blog</h1>
        </div>

        <div class="panel">
            <h1>Email Subscribers</h1>
            <img src="https://docs.google.com/spreadsheets/d/1nTJ9kNh2zu1k2fC7qBG7X5jlLr9Me92D0b98gRlkXEw/embed/oimg?id=1nTJ9kNh2zu1k2fC7qBG7X5jlLr9Me92D0b98gRlkXEw&oid=845808672&zx=6qptxhkvc69" />
        </div>

        <div class="output"></div>

    </body>

    <script type="text/javascript" src="/assets/script.js"></script>

</html>